/* ==== Google font ==== */
@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Montserrat:700|Merriweather:400italic');

/* loader */
#preloader {
    background: #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}

#loaderInner {
    background:#ffffff url(../img/spinner.gif) center center no-repeat;
    height: 60px;
    left: 50%;
    margin: -50px 0 0 -50px;
    position: absolute;
    top: 50%;
    width: 60px;
}

@keyframes boxSpin{
  0%{
    transform: translate(0px, 15px);
  }
  50%{
    transform: translate(0px, -15px);
  }
  100%{
    transform: translate(0px, 15px);
  }
}


@keyframes shadowSpin{
  0%{
    box-shadow: 0px -25px #009957, -35px 35px #ffb801, 35px 35px #d94530;
	border-radius: 100%;
  }
  50%{
    box-shadow: 35px 35px #009957, 0px -35px #ffb801, -35px 35px #d94530;
	border-radius: 100%;
  }
  100%{
    box-shadow: -35px 35px #009957, 35px 35px #ffb801, 0px -35px #d94530;
	border-radius: 100%;
  }
}

#load {
	z-index: 9999;
  opacity: 0.75;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  margin: -5px auto 0 auto;
  left: 0;
  right: 0;
  border-radius: 100%;
  box-shadow: 10px 0px #39CCCC, 10px 0px #01FF70;
  animation: shadowSpin 1s ease-in-out infinite;
}

